{% include 'index.html' %}

{% block content %}
    {% if request.user.is_staff %}
        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Challenge:</h5>
                    <hr>
                    <a class="btn btn-outline-success  btn-sm btn-block" href="/tambah-challenge">Add</a>
                    <a class="btn btn-outline-info  btn-sm btn-block" href="/edit_challenge">Update</a>
                </div>
            </div>
        
            <!-- <div class="col-md">
                <div class="card card-body">
                    <h5>Contact Information</h5>
                    <hr>
                    <p>Email: </p>
                    <p>Phone: </p>
                </div>
            </div> -->
        
            <div class="col-md">
                <div class="card card-body">
                    <h5>Challenge Completed</h5>
                    <hr>

                    <h1 style="text-align: center;padding: 10px">{{ total }}</h1>
                    <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'export_xls' %}">Export xls</a>
                </div>
            </div>
        </div>
        
        
        <br>
        <!-- <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
        
                    <button class="btn btn-primary" type="submit">Search</button>
                  </form>
                </div>
            </div>
            
        </div>
        <br> -->
        
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Username</th>
                            <th>Nama Challenge</th>
                            <th>Jenis Challenge</th>
                            <th>Gambar</th>
                            <th>Action</th>
                        </tr>
                        {% for challenge in challenges %}
                            <tr>
                                <th>{{ challenge.nama }}</th>
                                <th><a href="{% url 'ubah_challenge' challenge.id %}">{{ challenge.nama_challenge }}</a></th>
                                <!-- <th>{{ challenge.nama_challenge }}</th> -->
                                <th>{{ challenge.jenis_id }}</th>
                                <th>
                                    {% if challenge.gambar %}
                                        <img src="{{ challenge.gambar.url }}" width="90px">
                                    {% endif %}
                                </th>
                                <th>
                                    <!-- <button data-toggle="modal" data-target="#hapus-{{ challenge.id }}" class="btn btn-danger">Hapus</button> -->
                                    <a href="{% url 'hapus_challenge' challenge.id %}" class="btn btn-danger" >Hapus</a>
                                </th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <section class="page-section clearfix">
            <div class="container">
                <table class="center">
                    
                    <th><div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Upload</span>
                            {% if user.is_authenticated %}
                                <span class="section-heading-lower">Hey {{ user }}, is the challenge over?</span>
                            {% endif %}
                        </h2>

                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="/upload-challenge">Upload</a></div>
                    </div></th>
                </table> 
            </div>
        </section>

        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <table class="center">
                        <th><div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">here</span>
                                <span class="section-heading-lower">sponsor</span>
                            </h2>
                            
                        </div></th>
    
                        <th><div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">here</span>
                                <span class="section-heading-lower">sponsor</span>
                            </h2>
                            
                        </div></th>
    
                        <td><div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">here</span>
                                <span class="section-heading-lower">sponsor</span>
                            </h2>
                            
                        </div></td>
    
                        </table>
    
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    <br>

{% endblock %}
<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">gamechallengecafe@gmail.com</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="assets/js/scripts.js"></script>