{% include 'index.html' %}

{% block content %}
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% else %}
    <section class="page-section clearfix">
        <div class="container">   
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <form   method="POST">        
                            <table class="center">
                                <h3>Login</h3>
                                {% csrf_token %}

                                {{form.as_p}}
                            </table>
                            <button  type="submit" name="submit">Login</button>
                            <a href="{% url 'signup' %}">signup</a>
                    </form>
                </div>
        </div>
    </section>
{% endif %}
{% endblock %}
<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">gamechallengecafe@gmail.com</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="assets/js/scripts.js"></script>